<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
 th:replace="~{base :: layout(~{::section})}">
	
<head>
<meta charset="ISO-8859-1">
<title>index page</title>
<link rel="stylesheet" type="text/css" href="/css/index.css">

</head>
<body >
	
	<section>
		<h1 class="text-center text-bold ">Intro  Page</h1>
		<div class="container">
			 <p>Welcome to our beautiful website.</p>
            <p>Feel free to explore and discover amazing content.</p>
            <P>This website is only focussing on the CRUD operations login as ADMIN and explore</P>
			
		</div>
	</section>
	
</body>
</html>
